In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("ipl_dataset.csv")

In [4]:
df.head()

,full_scorecard,team1,team2,team1_score,team2_score,toss_winner,toss_choice,winner,margin,man_of_the_match,stadium,place
0,https://stats.espncricinfo.com/ci/engine/match...,Chennai Super Kings,Kolkata Knight Riders,131.0,133.0,Kolkata Knight Riders,Field,KKR,6 wickets,Umesh Yadav,Wankhede Stadium,Mumbai
1,https://stats.espncricinfo.com/ci/engine/match...,Mumbai Indians,Delhi Capitals,177.0,179.0,Delhi Capitals,Field,Capitals,4 wickets,Kuldeep Yadav,Brabourne Stadium,Mumbai
2,https://stats.espncricinfo.com/ci/engine/match...,Royal Challengers Bangalore,Punjab Kings,205.0,208.0,Punjab Kings,Field,Punjab,5 wickets,Odean Smith,Dr DY Patil Sports Academy,Mumbai
3,https://stats.espncricinfo.com/ci/engine/match...,Lucknow Super Giants,Gujarat Titans,158.0,161.0,Gujarat Titans,Field,Titans,5 wickets,Mohammed Shami,Wankhede Stadium,Mumbai
4,https://stats.espncricinfo.com/ci/engine/match...,Rajasthan Royals,Sunrisers Hyderabad,210.0,149.0,Sunrisers Hyderabad,Field,Royals,61 runs,Sanju Samson,Maharashtra Cricket Association Stadium,Pune

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   full_scorecard    958 non-null    object
 1   team1             958 non-null    object
 2   team2             950 non-null    object
 3   team1_score       930 non-null    float64
 4   team2_score       948 non-null    float64
 5   toss_winner       950 non-null    object
 6   toss_choice       958 non-null    object
 7   winner            958 non-null    object
 8   margin            958 non-null    object
 9   man_of_the_match  950 non-null    object
 10  stadium           950 non-null    object
 11  place             874 non-null    object
dtypes: float64(2), object(10)
memory usage: 89.9+ KB

In [6]:
df.isnull().sum()

full_scorecard       0
team1                0
team2                8
team1_score         28
team2_score         10
toss_winner          8
toss_choice          0
winner               0
margin               0
man_of_the_match     8
stadium              8
place               84
dtype: int64

In [7]:
df['team1_score']=df['team1_score'].isna().mean()
df['team2_score']=df['team2_score'].isna().mean()

In [8]:

df.drop(['stadium','full_scorecard','place','man_of_the_match'],axis=1,inplace=True)

In [9]:
df=df.dropna('')

In [10]:
df.shape

(950, 8)

In [461]:
df

,team1,team2,team1_score,team2_score,toss_winner,toss_choice,winner,margin,first_name,last_name,wickets,runs
0,Chennai Super Kings,Kolkata Knight Riders,0.029228,0.010438,Kolkata Knight Riders,Field,KKR,6 wickets,6,wickets,6 wickets,NaN
1,Mumbai Indians,Delhi Capitals,0.029228,0.010438,Delhi Capitals,Field,Capitals,4 wickets,4,wickets,4 wickets,NaN
2,Royal Challengers Bangalore,Punjab Kings,0.029228,0.010438,Punjab Kings,Field,Punjab,5 wickets,5,wickets,5 wickets,NaN
3,Lucknow Super Giants,Gujarat Titans,0.029228,0.010438,Gujarat Titans,Field,Titans,5 wickets,5,wickets,5 wickets,NaN
4,Rajasthan Royals,Sunrisers Hyderabad,0.029228,0.010438,Sunrisers Hyderabad,Field,Royals,61 runs,61,runs,NaN,61 runs
...,...,...,...,...,...,...,...,...,...,...,...,...
953,Royal Challengers Bangalore,Mumbai Indians,0.029228,0.010438,Mumbai Indians,Field,Mumbai,9 wickets,9,wickets,9 wickets,NaN
954,Kings XI Punjab,Rajasthan Royals,0.029228,0.010438,Rajasthan Royals,Field,Kings,41 runs,41,runs,NaN,41 runs
955,Rajasthan Royals,Delhi Daredevils,0.029228,0.010438,Delhi Daredevils,Field,Royals,105 runs,105,runs,NaN,105 runs
956,Kings XI Punjab,Chennai Super Kings,0.029228,0.010438,Kings XI Punjab,Bat,Super,9 wickets,9,wickets,9 wickets,NaN
957,Chennai Super Kings,Rajasthan Royals,0.029228,0.010438,Rajasthan Royals,Field,Royals,3 wickets,3,wickets,3 wickets,NaN

In [12]:
# use str.split() to split the name column into first_name and last_name columns
df[['first_name', 'last_name']] = df['margin'].str.split(' ', expand=True)
# df_num = pd.get_dummies(df)

In [466]:
# create a boolean mask to check if the score contains "wickets"
mask = df['margin'].str.contains('wickets')

# use the boolean mask to assign values to two new columns
df.loc[mask, 'wickets'] = df.loc[mask, 'margin']
df.loc[~mask, 'runs'] = df.loc[~mask, 'margin']

In [467]:
df['wickets']=df['wickets'].str.split(' ', expand=True)[0]
df['runs']=df['runs'].str.split(' ', expand=True)[0]

In [464]:
inverted_df

,team1,team2,team1_score,team2_score,toss_winner,toss_choice,winner,margin,first_name,last_name,year,tournament_winner,wickets,runs
0,Chennai Super Kings,Rajasthan Royals,0.029228,0.010438,Rajasthan Royals,Field,Royals,3 wickets,3,wickets,2008,Rajasthan Royals,3,NaN
1,Kings XI Punjab,Chennai Super Kings,0.029228,0.010438,Kings XI Punjab,Bat,Super,9 wickets,9,wickets,2008,Rajasthan Royals,9,NaN
2,Rajasthan Royals,Delhi Daredevils,0.029228,0.010438,Delhi Daredevils,Field,Royals,105 runs,105,runs,2008,Rajasthan Royals,NaN,105
3,Kings XI Punjab,Rajasthan Royals,0.029228,0.010438,Rajasthan Royals,Field,Kings,41 runs,41,runs,2008,Rajasthan Royals,NaN,41
4,Royal Challengers Bangalore,Mumbai Indians,0.029228,0.010438,Mumbai Indians,Field,Mumbai,9 wickets,9,wickets,2008,Rajasthan Royals,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,Rajasthan Royals,Sunrisers Hyderabad,0.029228,0.010438,Sunrisers Hyderabad,Field,Royals,61 runs,61,runs,2022,Gujarat Titans,NaN,61
946,Lucknow Super Giants,Gujarat Titans,0.029228,0.010438,Gujarat Titans,Field,Titans,5 wickets,5,wickets,2022,Gujarat Titans,5,NaN
947,Royal Challengers Bangalore,Punjab Kings,0.029228,0.010438,Punjab Kings,Field,Punjab,5 wickets,5,wickets,2022,Gujarat Titans,5,NaN
948,Mumbai Indians,Delhi Capitals,0.029228,0.010438,Delhi Capitals,Field,Capitals,4 wickets,4,wickets,2022,Gujarat Titans,4,NaN
949,Chennai Super Kings,Kolkata Knight Riders,0.029228,0.010438,Kolkata Knight Riders,Field,KKR,6 wickets,6,wickets,2022,Gujarat Titans,6,NaN

In [468]:
df.drop('margin',axis=1)

,team1,team2,team1_score,team2_score,toss_winner,toss_choice,winner,first_name,last_name,wickets,runs
0,Chennai Super Kings,Kolkata Knight Riders,0.029228,0.010438,Kolkata Knight Riders,Field,KKR,6,wickets,6,NaN
1,Mumbai Indians,Delhi Capitals,0.029228,0.010438,Delhi Capitals,Field,Capitals,4,wickets,4,NaN
2,Royal Challengers Bangalore,Punjab Kings,0.029228,0.010438,Punjab Kings,Field,Punjab,5,wickets,5,NaN
3,Lucknow Super Giants,Gujarat Titans,0.029228,0.010438,Gujarat Titans,Field,Titans,5,wickets,5,NaN
4,Rajasthan Royals,Sunrisers Hyderabad,0.029228,0.010438,Sunrisers Hyderabad,Field,Royals,61,runs,NaN,61
...,...,...,...,...,...,...,...,...,...,...,...
953,Royal Challengers Bangalore,Mumbai Indians,0.029228,0.010438,Mumbai Indians,Field,Mumbai,9,wickets,9,NaN
954,Kings XI Punjab,Rajasthan Royals,0.029228,0.010438,Rajasthan Royals,Field,Kings,41,runs,NaN,41
955,Rajasthan Royals,Delhi Daredevils,0.029228,0.010438,Delhi Daredevils,Field,Royals,105,runs,NaN,105
956,Kings XI Punjab,Chennai Super Kings,0.029228,0.010438,Kings XI Punjab,Bat,Super,9,wickets,9,NaN
957,Chennai Super Kings,Rajasthan Royals,0.029228,0.010438,Rajasthan Royals,Field,Royals,3,wickets,3,NaN

In [470]:
df.fillna(0, inplace=True)

In [16]:
df.head()

,team1,team2,team1_score,team2_score,toss_winner,toss_choice,winner,margin,first_name,last_name
0,Chennai Super Kings,Kolkata Knight Riders,0.029228,0.010438,Kolkata Knight Riders,Field,KKR,6 wickets,6,wickets
1,Mumbai Indians,Delhi Capitals,0.029228,0.010438,Delhi Capitals,Field,Capitals,4 wickets,4,wickets
2,Royal Challengers Bangalore,Punjab Kings,0.029228,0.010438,Punjab Kings,Field,Punjab,5 wickets,5,wickets
3,Lucknow Super Giants,Gujarat Titans,0.029228,0.010438,Gujarat Titans,Field,Titans,5 wickets,5,wickets
4,Rajasthan Royals,Sunrisers Hyderabad,0.029228,0.010438,Sunrisers Hyderabad,Field,Royals,61 runs,61,runs

In [17]:
# find years , tournament winner and then apply time searies 
# inverted_df = df.iloc[::-1]
# invert the order of the DataFrame and reset the index labels
inverted_df = df.iloc[::-1].reset_index(drop=True)

In [18]:
from collections import Counter
# if a team wins till count number

# count to check
check_count = 3

# initialize a counter for the names
name_counts = Counter()

# loop over the names and update the counter
for name in inverted_df['winner']:
    name_counts[name] += 1
    if name_counts[name] == check_count:
        break
#         

# print the final counts for each name
for name, count in name_counts.items():
    print(f'{name}: {count}')

Royals: 3
Super: 2
Kings: 1
Mumbai: 1

In [19]:
#  set the maximum number of iterations
max_iterations = 59

# initialize a dictionary to store the counts
name_counts = {}

# loop over the names and update the counts
for i, name in enumerate(inverted_df['winner'].loc[61:]):
    if i == max_iterations:
        break
    if name not in name_counts:
        name_counts[name] = 0
    name_counts[name] += 1

# print the final counts for each name
for name, count in name_counts.items():
    print(f'{name}: {count}')

# find the name with the highest count
winner = max(name_counts, key=name_counts.get)
print(f'The winner is {winner} with {name_counts[winner]} counts.')

RCB: 9
Daredevils: 10
Super: 10
KKR: 4
Kings: 7
Chargers: 7
Royals: 5
Mumbai: 6
Tied: 1
The winner is Daredevils with 10 counts.

In [20]:

inverted_df['winner'].unique()

array(['Royals', 'Super', 'Kings', 'Mumbai', 'KKR', 'RCB', 'Daredevils',
       'Chargers', 'Tied', 'No', 'Kochi', 'Warriors', 'Sunrisers', 'Guj',
       'Supergiants', 'Supergiant', 'Capitals', 'Punjab', 'Titans'],
      dtype=object)

In [21]:
inverted_df[inverted_df['winner'] == 'Tied']['winner'].count()

14

In [22]:
inverted_df['year']=0

In [23]:
inverted_df.iloc[0:59, inverted_df.columns.get_loc('year')] = '2008'

In [24]:
inverted_df.loc[59:]

,team1,team2,team1_score,team2_score,toss_winner,toss_choice,winner,margin,first_name,last_name,year
59,Chennai Super Kings,Royal Challengers Bangalore,0.029228,0.010438,Royal Challengers Bangalore,Field,RCB,6 wickets,6,wickets,0
60,Delhi Daredevils,Deccan Chargers,0.029228,0.010438,Deccan Chargers,Field,Chargers,6 wickets,6,wickets,0
61,Royal Challengers Bangalore,Deccan Chargers,0.029228,0.010438,Royal Challengers Bangalore,Bat,RCB,12 runs,12,runs,0
62,Mumbai Indians,Delhi Daredevils,0.029228,0.010438,Delhi Daredevils,Field,Daredevils,4 wickets,4,wickets,0
63,Chennai Super Kings,Kings XI Punjab,0.029228,0.010438,Chennai Super Kings,Bat,Super,24 runs,24,runs,0
...,...,...,...,...,...,...,...,...,...,...,...
945,Rajasthan Royals,Sunrisers Hyderabad,0.029228,0.010438,Sunrisers Hyderabad,Field,Royals,61 runs,61,runs,0
946,Lucknow Super Giants,Gujarat Titans,0.029228,0.010438,Gujarat Titans,Field,Titans,5 wickets,5,wickets,0
947,Royal Challengers Bangalore,Punjab Kings,0.029228,0.010438,Punjab Kings,Field,Punjab,5 wickets,5,wickets,0
948,Mumbai Indians,Delhi Capitals,0.029228,0.010438,Delhi Capitals,Field,Capitals,4 wickets,4,wickets,0
949,Chennai Super Kings,Kolkata Knight Riders,0.029228,0.010438,Kolkata Knight Riders,Field,KKR,6 wickets,6,wickets,0

In [448]:
# teams in ipl per year
teams_in_year=[8,8,8,10,9,9,8,8,8,8,8,8,8,8,10]
year=[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]
len(year)
# # Define the number of teams and matches per team
# num_teams = 8
# matches_per_team = 14

# Calculate the number of matches in the group stage
t=0
sum=0
team_matches={}
for j in teams_in_year:
    t=t+1   
    sum=0
    for i in range(j-1,0,-1):
        sum=sum+i
        
    team_matches[year[t-1]]={j: sum*2+3}

In [113]:
team_matches={2008: 59,
 2009:  60,
 2010:  60,
 2011:  74,
 2012:  76,
 2013:  76,
 2014:  60,
 2015:  60,
 2016:  60,
 2017:  60,
 2018:  60,
 2019:  60,
 2020:  60,
 2021:  60,            
 2022:  74}

In [130]:
df3=pd.DataFrame(columns=['year'])
length=len(inverted_df['year'])
count=0
sum=0
for i in year:
    print(i)
    for j in range(team_matches[i]):
        inverted_df['year'][count]=i
        count=count+1
        print(inverted_df['year'][count])
        if(count==length):
            stop

2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2018
2018

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\3884732109.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inverted_df['year'][count]=i

2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022
2022

KeyError: 950

In [133]:
for year in

,team1,team2,team1_score,team2_score,toss_winner,toss_choice,margin,first_name,last_name,year
winner,,,,,,,,,,
Chargers,3,3,3,3,3,3,3,3,3,3
Daredevils,7,7,7,7,7,7,7,7,7,7
KKR,6,6,6,6,6,6,6,6,6,6
Kings,10,10,10,10,10,10,10,10,10,10
Mumbai,7,7,7,7,7,7,7,7,7,7
RCB,4,4,4,4,4,4,4,4,4,4
Royals,13,13,13,13,13,13,13,13,13,13
Super,9,9,9,9,9,9,9,9,9,9

In [111]:
len(inverted_df['year'])

{8: 59}

In [292]:
score_year_winner = pd.DataFrame(columns=['heigest_matches_winner', 'year', 'winning_count','tournament_winner'])

for year in inverted_df['year'].unique():
    win_count = inverted_df[inverted_df['year'] == year].groupby('winner').size()
    name = win_count.idxmax()
    winning_count = win_count.max()
    score_year_winner = score_year_winner.append({
        'heigest_matches_winner': name,
        'year': year,
        'winning_count': winning_count
    }, ignore_index=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13964\1220459608.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_year_winner = score_year_winner.append({

In [337]:
winners = {
    2008: 'Rajasthan Royals',
    2009: 'Deccan Chargers',
    2010: 'Chennai Super Kings',
    2011: 'Chennai Super Kings',
    2012: 'Kolkata Knight Riders',
    2013: 'Mumbai Indians',
    2014: 'Kolkata Knight Riders',
    2015: 'Mumbai Indians',
    2016: 'Sunrisers Hyderabad',
    2017: 'Mumbai Indians',
    2018: 'Chennai Super Kings',
    2019: 'Mumbai Indians',
    2020: 'Mumbai Indians',
    2021: 'Chennai Super Kings',
    2022: 'Gujarat Titans'
}
for year in score_year_winner['year']:
    score_year_winner.loc[score_year_winner['year'] == year, 'tournament_winner'] = winners[year]

In [427]:
for y in inverted_df['year'].unique():
    n_rows = len(inverted_df[inverted_df['year'] == y])
    winner = winners[y]
    inverted_df.loc[inverted_df['year'] == y, 'tournament_winner'] = [winner]*n_rows

In [447]:
inverted_df.groupby('year')['tournament_winner'].value_counts()

year  tournament_winner
2008  Rajasthan Royals         59
2009  Deccan Chargers          60
2010  Chennai Super Kings      60
2011  Chennai Super Kings      74
2012  Kolkata Knight Riders    76
2013  Mumbai Indians           76
2014  Kolkata Knight Riders    60
2015  Mumbai Indians           60
2016  Sunrisers Hyderabad      60
2017  Mumbai Indians           60
2018  Chennai Super Kings      60
2019  Mumbai Indians           60
2020  Mumbai Indians           60
2021  Chennai Super Kings      60
2022  Gujarat Titans           65
Name: tournament_winner, dtype: int64

In [477]:
inverted_df.drop(['first_name', 'last_name'], axis=1, inplace=True)

In [452]:
score_year_winner

   heigest_matches_winner  year winning_count      tournament_winner
0                  Royals  2008            13       Rajasthan Royals
1              Daredevils  2009            10        Deccan Chargers
2                  Mumbai  2010            11    Chennai Super Kings
3                   Super  2011            11    Chennai Super Kings
4              Daredevils  2012            11  Kolkata Knight Riders
5                  Mumbai  2013            12         Mumbai Indians
6                   Kings  2014            10  Kolkata Knight Riders
7               Sunrisers  2015            10         Mumbai Indians
8                  Mumbai  2016            10    Sunrisers Hyderabad
9                     KKR  2017            10         Mumbai Indians
10                 Mumbai  2018             9    Chennai Super Kings
11                  Super  2019            10         Mumbai Indians
12                 Mumbai  2020            10         Mumbai Indians
13                    RCB  2021            10    Chennai Super Kings
14                  Super  2022            12         Gujarat Titans